# standard stuff
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/
/tmp
# .idea is a folder that RubyMine creates. It does not need to be in the repo.
/.idea
# these are bower installs. run bower install to get these components.
/vendor/assets/components

# I am ignoring all the component folders in the vendor/assets/javascripts folder because Rubymine doesn't see
# /vendor/assets/compnents as a search path for files from the application.js.
/vendor/assets/javascripts/angular
/vendor/assets/javascripts/angular-xeditable
/vendor/assets/javascripts/angular-sanitize
/vendor/assets/javascripts/bootstrap
/vendor/assets/javascripts/jquery
/vendor/assets/javascripts/ng-table
