<div>
    <div class="alert alert-warning text-center" data-ng-hide="bundle">
        <h2>Loading Bundle Data...</h2>
    </div>
    <div class="page-header">
        <h1><a href="#" buttons="no" editable-text="bundle.title" onaftersave="updateBundle()">{{ bundle.title }}</a> <small>( {{ bundle.title_slug }} )</small></h1>
    </div>

    <dl ng-show="bundle.games" class="dl-horizontal">
        <dt>Games</dt>
        <dd ng-repeat="item in bundle.games">
            <a ui-sref="gameView({titleSlug: item.title_slug})"> <img style="padding:3px" src="{{ item.app_icon }}"> <span ng-hide="item.app_icon">{{ item.title }}</span></a>
        </dd>
    </dl>
    <dl ng-show="bundle.androidgames" class="dl-horizontal">
        <dt>Android Games</dt>
        <dd ng-repeat="item in bundle.androidgames">
            <a ui-sref="androidGameView({titleSlug: item.title_slug})">{{item.title}}</a>
        </dd>
    </dl>
    <dl ng-show="bundle.musictracks" class="dl-horizontal">
        <dt>Audio Files</dt>
        <dd ng-repeat="item in bundle.musictracks">
            <a ui-sref="musicTrackView({titleSlug: item.title_slug})">{{item.title}}</a>
        </dd>
    </dl>
    <dl ng-show="bundle.drmfreegames" class="dl-horizontal">
        <dt>DRM Free Games</dt>
        <dd ng-repeat="item in bundle.drmfreegames">
            <a ui-sref="drmFreeGameView({titleSlug: item.title_slug})">{{item.title}}</a> ( {{ item.platform }} )
        </dd>
    </dl>
    <dl ng-show="bundle.ebooks" class="dl-horizontal">
        <dt>DRM Free Games</dt>
        <dd ng-repeat="item in bundle.ebooks">
            <a ui-sref="ebooksView({titleSlug: item.title_slug})">{{item.title}}</a> ( {{ item.platform }} )
        </dd>
    </dl>
</div>