<div class="row" style="border:1px;">
    <div class="alert alert-warning text-center" data-ng-hide="game">
        <h2>Loading Game Data...</h2>
    </div>
    <div class="col-lg-6" ng-show="game">
        <p><img src="{{ game.steam.images.header_image }}"></p>
        <p ng-bind-html="parseAbout()"></p>
    </div>
    <div class="col-lg-6">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#collapseSteamInfo" href="#">
                            Steam Info
                        </a>
                    </h4>
                </div>
                <div id="collapseSteamInfo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h2><a editable-text="game.basic.title" buttons="no" onaftersave="updateGame('title')">{{ game.basic.title }}</a> </h2>
                        <p>( <a editable-text="game.basic.title_slug" buttons="no" onaftersave="updateGame('title_slug')">{{ game.basic.title_slug }}</a> )</p>
                        <h4><a href="{{game.basic.bundle_url}}">{{ game.basic.bundle_title }}</a></h4>
                        <p ng-show="game.steam.dev_info.dev"><a href="{{game.steam.dev_info.dev_url}}">{{game.steam.dev_info.dev}}</a></p>
                        <p ng-show="game.steam.price"><strong>Price: ${{game.steam.price}}</strong></p>
                        <p><a href="{{game.steam.store_url}}" target="_blank">{{game.steam.store_url}}</a></p>
                        <p><a href="#" editable-text="game.steam.steam_id" buttons="no" onaftersave="updateGame('steam_id')">{{ game.steam.steam_id || 'add steam id' }}</a> <span ng-show="steam_api.name" ng-class="fade()">( {{ steam_api.name }} )</span></p>
                        <p ng-show="game.steam.steam_id"><a target="_blank" href="http://www.steamcharts.com/app/{{game.steam.steam_id}}">Steam Charts</a></p>
                    </div>
                </div>
            </div>
            <div ng-show="game.steam.categories" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#collapseCategories" href="#">
                            Categories
                        </a>
                    </h4>
                </div>
                <div id="collapseCategories" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul style="list-style:none;">
                            <li ng-repeat="category in game.steam.categories">{{category.description}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="game.steam.genres" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#collapseGenre" href="#">
                            Genres
                        </a>
                    </h4>
                </div>
                <div id="collapseGenre" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul style="list-style:none;">
                            <li ng-repeat="genre in game.steam.genres">{{genre.description}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="game.drm == 'steam'" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#systemreqs" href="#">
                            System Requirements
                        </a>
                    </h4>
                </div>
                <div id="systemreqs" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h3 ng-show="game.steam.html.reqs.pc != null">Windows</h3>
                        <p ng-show="game.steam.html.reqs.pc.min" ng-bind-html="parseReqs('pc_min')"></p>
                        <p ng-show="game.steam.html.reqs.pc.rec" ng-bind-html="parseReqs('pc_rec')"></p>
                        <h3 ng-show="game.steam.html.reqs.mac.min != null">Mac</h3>
                        <p ng-show="game.steam.html.reqs.mac.min" ng-bind-html="if(game.steam.html.reqs.mac.min != null); parseReqs('mac_min')"></p>
                        <p ng-show="game.steam.html.reqs.mac.rec" ng-bind-html="if(game.steam.html.reqs.mac.rec != null); parseReqs('mac_rec')"></p>
                        <h3 ng-show="game.steam.html.reqs.linux.min != null">Linux</h3>
                        <p ng-show="game.steam.html.reqs.linux.min" ng-bind-html="if(game.steam.html.reqs.linux.min != null); parseReqs('linux_min')"></p>
                        <p ng-show="game.steam.html.reqs.linux.rec" ng-bind-html="if(game.steam.html.reqs.linux.rec != null); parseReqs('linux_rec')"></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#gamekeys" href="#">
                            {{ game.gamekeys.length }} Keys
                        </a>
                    </h4>
                </div>
                <div id="gamekeys" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li ng-repeat="key in game.gamekeys">
                                {{key.key}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" onclick="return false;" data-toggle="collapse" data-target="#transids" href="#">
                            Transaction IDs
                        </a>
                    </h4>
                </div>
                <div id="transids" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul style="padding:0!important;list-style:none;">
                            <li>Humble Bundle: <a href="#" editable-text="game.trans_ids.humblebundle_trans_id" buttons="no" onaftersave="updateGame('transID')">{{ game.trans_ids.humblebundle_trans_id || "No Transaction ID" }}</a></li>
                            <li>Indie Gala: <a href="#" editable-text="game.trans_ids.indiegala_trans_id" buttons="no" onaftersave="updateGame('transID')">{{ game.trans_ids.indiegala_trans_id || "No Transaction ID"  }}</a></li>
                            <li>Bundle Stars: <a href="#" editable-text="game.trans_ids.bundlestars_trans_id" buttons="no" onaftersave="updateGame('transID')">{{ game.trans_ids.bundlestars_trans_id || "No Transaction ID"  }}</a></li>
                            <li>PayPal: <a href="#" editable-text="game.trans_ids.paypal_trans_id" buttons="no" onaftersave="updateGame('transID')">{{ game.trans_ids.paypal_trans_id || "No Transaction ID"  }}</a></li>
                            <li>Google Wallet: <a href="#" editable-text="game.trans_ids.googlewallet_trans_id" buttons="no" onaftersave="updateGame('transID')">{{ game.trans_ids.googlewallet_trans_id || "No Transaction ID"  }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>