<div class="page-header">
  <%= link_to ebooks_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ebook_path(@ebooks), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show eBook</h1>
</div>

<dl class="dl-horizontal">
</dl>
